<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 📂 Lecture et écriture de fichiers -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 📂 Gestion avancée des fichiers pour Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- 🔒 Authentification et stockage sécurisé -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">

        <!-- Déclarer LoginActivity comme activité de démarrage -->
        <activity

            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Déclarez les autres activités -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".RGPDActivity" android:exported="true" />
        <activity android:name=".SignatureActivity" android:exported="true" />
        <activity android:name=".ConfigActivity" android:exported="true" />
        <activity android:name=".RootModeActivity" android:exported="true" />

    </application>
</manifest>
